@model WorkToolsViewModel
<section id="work-tools" class="work-tools">
    <div class="container">
        <div class="work-tools-header">
            <h2>@Model.Title </h2> 
            <p>@Model.Description</p>
        </div>
        <div class="tools">

            @foreach(var box in Model.WorkToolBox)
            {
                <a href="#">
                    <div class="box">
                        <img src="@box.FeaturesImg.ImageUrl" alt="@box.FeaturesImg.AltText" />
                        <p>@box.FeaturesDescription</p>
                    </div>
                </a>
            }
        </div>
    </div>
</section>