@model ContactFormViewModel

<div class="form-container">
    <h2>Get In Contact With Us</h2>
    @if (TempData["Status"] != null && TempData["Status"]?.ToString() == "Success")
    {
        <div class="alerts alert-success">
            Thank you! Your message has been sent successfully.
        </div>
    }

    @if (TempData["Status"] != null && TempData["Status"]?.ToString() == "Error")
    {
        <div class="alerts alert-danger">
            Incorrect values
        </div>
    }

    <form id="contact-form" asp-controller="Contact" asp-action="Index" novalidate>

        <div class="form-name">
            <label asp-for="@Model.Contact.Name"></label>
            <input asp-for="@Model.Contact.Name" />
            <span asp-validation-for="@Model.Contact.Name" class="error"></span>
        </div>

        <div class="form-email">
            <label asp-for="@Model.Contact.Email"></label>
            <input asp-for="@Model.Contact.Email" />
            <span asp-validation-for="@Model.Contact.Email" class="error"></span>

        </div>


        <div class="drop-down">
            <label asp-for="@Model.Contact.SelectedService">Services <p class="optional">(optional)</p></label>
            <div class="select-wrapper">
                <select asp-for="@Model.Contact.SelectedService" class="form-control">
                    <option value="">Choose the service you are interested in</option>
                    @foreach (var service in Model.Contact.Services)
                    {
                        <option value="@service">@service</option>
                    }
                </select>
                <span class="arrow"><i class="fa-solid fa-chevron-down"></i></span>
            </div>
            @* <span asp-validation-for="@Model.Contact.SelectedService" class="error"></span> *@
        </div>

        <div class="form-message-us">
            <label asp-for="@Model.Contact.Message"></label>
            <textarea asp-for="@Model.Contact.Message" rows="8"></textarea>
            <span asp-validation-for="@Model.Contact.Message" class="error"></span>

        </div>

        <button type="submit" class="btn-theme" >Send Contact Request</button>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/_ValidationScriptPartial.cshtml")